[Unit]
Description=DataRetreiveUsb Daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=60
User=root
ExecStart=/bin/dataretreiveusb

[Install]
WantedBy=multi-user.target
